/*!
 * dux
 * The most valuable front-end framework around the d.velop group for developing web-based projects.
 * @version v1.0.0
 *
 * Copyright d.velop AG. All rights reserved.
 */
@mixin word-wrap() {
  white-space: pre;
  // CSS 2.0
  white-space: pre-wrap;
  // CSS 2.1
  white-space: pre-line;
  // CSS 3.0
  white-space: -pre-wrap;
  // Opera 4-6
  white-space: -o-pre-wrap;
  // Opera 7
  white-space: -moz-pre-wrap;
  // Mozilla
  white-space: -hp-pre-wrap;
  // HP Printers
  word-wrap: break-word;
  // IE 5+
}